---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
	title="About us"
	description="Who are we?"
	pubDate={new Date('January 31 2024')}
	heroImage="/about-koalas.jpg"
>
	<p>
		Play Makina (PM) is an indie videogame developer with just a single goal: Make sure that you have fun!
	</p>
	<p>
		In this site you will find fresh updates on our projects, download links, podcasts.. but above all of these, you will find a strong dose of motivation.
	</p>
	<p>
		Spoilsports please get off at the next stop, get a cup of warm milk and go to bed ;)
	</p>
	<p>
		PM was born from the dream of a loon who lives in cloud cuckoo land.
		Thanks to living in this fantastic place for all my life, I see now the world from a highly positive persepective. A lot can be done with very few, opportunities arise from difficulties..
		Sometimes I let some of my loved ones to come into this place, and you know what?
	</p>
	<p>
		It works for them too!
	</p>
	<p>
		Play Makina is coming from this very same place (It took me a lot of time to figure out how to bring things from there in a consistent way).
		I hope all the works born here coming from my cloud cuckoo land can awake a strong passion inside you, inmerse yourself into this parallel fantastic world, where everything is possible with the right approach. Once you get into this state of mind, an infinity motivation will be born inside you, which will make you invincible and bring you into a state where absolutely nothing will stop you.
	</p>	
	<p>
		We have started the locomotive, the only thing you have to do is to get on the coach &#128515;
	</p>
	<p>
		So, without further ado..
	</p>
	<p>
		<b>Do not stop the party!</b>
	</p>

</Layout>
