---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About us"
	description="¿Quiénes somos?"
	pubDate={new Date('January 31 2024')}
	heroImage="/about-flower.jpg"
>
	<p>
		En Play Makina (PM) venimos a pasarlo bien. Malrolleros que cojan la siguiente salida dirección vaso de leche caliente y a la cama.		
	</p>
	<p>
		PM es una desarrolladora de videojuegos con un único objetivo: Hacer que te lo pases muy bien.
		Aquí encontrarás las últimas novedades, enlaces de descarga, actualizaciones del proceso de desarrollo de nuestros proyectos.. Pero sobre todo, una buena dosis de motivación.
	</p>
	<p>
		La locomotora ya la tenemos a punto y funcionando, solo tienes que subirte ;)
	</p>
	<p>
		PM nace del sueño de un pirado que siempre lleva puestas unas gafas hechas con material de piruleta.
		Estas gafas son fantásticas, me han ayudado siempre a ver el mundo de forma positiva, a hacer mucho con muy poco, a ver las oportunidades en las dificultades.. 
		A veces se las dejo a algunas personas a las que quiero mucho y ¿sabes qué?
	</p>
	<p>
		¡También les funcionan!
	</p>
	<p>
		Play Makina está hecho con el mismo material de piruleta de mis gafas (me ha costado muchísimo tiempo conseguir fabricarlo de forma estable),
		espero que todas y cada una de las obras que se forjan aquí con este material piruletero hagan despertar la pasión de tu interior, te sientas inmerso dentro de un mundo paralelo en donde todo es posible con el método adecuado; y que todo esto desemboque en una motivación infinita, que te hará invencible y te llevará a un estado en el que absolutamente nada podrá pararte.
	</p>	
	<p>
		Así que sin más rodeos..
	</p>
	<p>
		<b>¡Que no pare la fiesta!</b>
	</p>

</Layout>
