---
import { languages } from '../i18n/ui';
import "/node_modules/flag-icons/css/flag-icons.min.css";
---
<ul>
  {Object.entries(languages).map(([lang]) => (
       <a href={`/${lang}/`}><span class={`fi fi-${lang}`}></span></a>
  ))}
</ul>

<script>
    document.getElementsByClassName("fi-en")[0].className = "fi fi-gb";
</script>
<style>
  .fi {
    padding:0.3em;
    margin-right:0.4em;
  }
</style>
