---
import { languages } from '../i18n/ui';
import "/node_modules/flag-icons/css/flag-icons.min.css";
---
<ul class="lang-list">
  {Object.entries(languages).map(([lang]) => (
       <a href={`/${lang}/`}><span class={`fi fi-${lang}`}></span></a>
  ))}
</ul>

<script>
    // Replace GB flag for english
    var slides = document.getElementsByClassName("fi-en");
    for (var i = slides.length-1; i >-1; i--) {
      slides[i].className = "fi fi-gb";
    }
</script>
<style>
  .fi {
    padding:0.3em;
    margin-right:0.4em;
  }
  .lang-list {
    padding:0px;
  }
</style>
